*/node_modules
*/.angular
.vscode
*/.vscode
.editorconfig
*.code-workspace
*.sqlite
backend/config
backend/migrations
*/.env
backend/server/images/*
backend/uploads/*
backend/src/logs
backend/src/utils
backend/dist