<div class="flex flex-col space-y-1 mt-4 max-w-sm mx-auto">
    <button *ngFor="let channel of channels"
        class="hover:bg-primary text-white font-bold py-2 px-4 rounded text-left mx-4"
        [routerLink]="['/servers', selectedServerId, 'channels', channel.id]" (click)="selectChannel(channel.id)">
        {{ channel.name }}
    </button>
</div>

<button (click)="openDialog()" class="mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
    Create Channel
</button>

<app-create-channel-popup></app-create-channel-popup>