<div class="flex flex-col text-text space-y-4">
    <div cdkDropList cdkDropListGroup [cdkDropListData]="categories" (cdkDropListDropped)="dropCategory($event)"
        class="p-2 rounded-md list">
        <div *ngFor="let category of categories" cdkDrag class="rounded-md box"
            (contextmenu)="showContextMenu($event, category.id)">
            <div class="flex flex-row cursor-pointer" cdkDragHandle>
                <div class="">v</div>
                <div class="ml-2">{{ category.name }}</div>
                <div class="ml-auto" (click)="openDialog(category.id)">+</div>
            </div>
            <app-edit-menu [itemsList]="categoryItemsList" [targetId]="category.id"
                [category]="category"></app-edit-menu>
            <div class="ml-2 min-h-[60px]">
                <div cdkDropList [cdkDropListData]="category.channels" (cdkDropListDropped)="dropChannel($event)"
                    class="rounded-md list">
                    <div cdkDrag class="flex flex-row cursor-pointer p-2 box" *ngFor="let channel of category.channels"
                        [routerLink]="['/servers', selectedServerId, 'channels', channel.id]"
                        (click)="selectChannel(channel.id)" (contextmenu)="showContextMenu($event, channel.id)">
                        <div class="text-text w-full" cdkDragHandle>
                            {{ channel.name }}
                        </div>
                        <app-edit-menu [itemsList]="channelItemsList" [targetId]="channel.id"
                            [channel]="channel"></app-edit-menu>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <app-create-channel-popup></app-create-channel-popup>
</div>