<div class="bg-secondary h-full w-full text-text-faded flex flex-col items-center">
    <button class="w-11/12 h-12 flex flex-row bg-accesecondarynt text-base items-center px-4 tracking-extraTight"
        [routerLink]="['/servers']">
        <i class="bi bi-person-raised-hand"></i>
        <span class="ml-2">Friends</span>
    </button>
    <button class="w-11/12 h-12 flex flex-row bg-secondary text-base items-center px-4 tracking-extraTight">
        <i class="bi bi-person-wheelchair"></i>
        <span class="ml-2">Nitro</span>
    </button>
    <button class="w-11/12 h-12 flex flex-row bg-secondary text-base items-center px-4 tracking-extraTight">
        <i class="bi bi-cart"></i>
        <span class="ml-2">Shop</span>
    </button>

    <div class="w-11/12 text-base px-4">
        <span class="uppercase text-xs font-bold">Direct Messages</span>
    </div>
    <ul *ngFor="let user of dmList" class="font-sans flex flex-col w-11/12 px-4 hover:cursor-pointer"
        (click)="openPrivateChat(user)" (contextmenu)="showContextMenu($event, user.id)">
        <li class="flex flex-row items-start rounded-md my-1 p-2 hover:bg-hover relative group">
            <div class="relative">
                <img [src]="user.profilePicture" alt="Profile Picture" class="w-8 h-8 rounded-full">
                <div *ngIf="onlineUserIds.has(user.id)"
                    class="absolute bottom-0 right-0 w-3 h-3 rounded-full bg-green-500 border-2 border-white ">
                </div>
            </div>
            <span class="ml-2">{{user.username}}</span>
            <i class="bi bi-x-lg ml-auto my-1 text-text-faded text-sm opacity-0 group-hover:opacity-100"
                (click)="removeUserFromDMList(user.id); $event.stopPropagation();"></i>
        </li>
        <app-edit-menu [itemsList]="itemsList" [targetId]="user.id"></app-edit-menu>
    </ul>


</div>