<div class="bg-primary min-h-screen overflow-hidden relative ">
    <div
        class="absolute w-[200vw] h-[100vw]  rounded-[50%] -translate-y-1/2 -translate-x-1/4 bg-gradient-to-b from-blue-800 from-70%  to-blue-200 to-100%">
    </div>
    <div class="relative">
        <app-navbar></app-navbar>
        <span
            class="flex items-center justify-center text-5xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Discord-Clone</span>
    </div>
    <h1>url: {{ test_url }}</h1>
    <h1>prod: {{ test_url2 }}</h1>
</div>