<div class="body bg-home min-h-screen overflow-hidden relative text-text">
    <app-navbar></app-navbar>
    <div class="absolute flex items-center justify-center h-full translate-x-2/3">
        <div class="overflow-hidden rounded-md -z-10">
            <div
                class="relative justify-center align-items-center text-center text-[8vw] flex border-b-[10px] font-extrabold biscord-card">
                <span class="inline-block hover:text-blue-700 transition-all duration-300">B</span>
                <span class="inline-block hover:text-blue-700 transition-all duration-300">i</span>
                <span class="inline-block hover:text-blue-700 transition-all duration-300">s</span>
                <span class="inline-block hover:text-blue-700 transition-all duration-300">c</span>
                <span class="inline-block hover:text-blue-700 transition-all duration-300">o</span>
                <span class="inline-block hover:text-blue-700 transition-all duration-300">r</span>
                <span class="inline-block hover:text-blue-700 transition-all duration-300">d</span>
            </div>
        </div>
    </div>
</div>