.body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.body::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: theme("colors.color-accent");
    left: -10%;
    top: 20%;
    filter: blur(200px);
    pointer-events: none;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.biscord-card {
    border-image: linear-gradient(
            var(--rotate),
            theme("colors.home"),
            theme("colors.color-accent") 43%,
            theme("colors.primary"),
            theme("colors.color-accent") 43%,
            theme("colors.home")
        )
        1;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 360deg;
    }
    100% {
        --rotate: 0deg;
    }
}

@media screen and (max-width: 768px) {
    .body::before {
        width: 230px;
        height: 230px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .body::before {
        width: 300px;
        height: 300px;
    }
}
