<div class="body bg-primary min-h-screen overflow-hidden relative">
    <app-navbar></app-navbar>
    <div class="absolute flex items-center justify-center h-full translate-x-2/3">
        <div class="biscord-card-wrapper -z-10">
            <div class="biscord-card text-8xl font-extrabold">
                <span class="inline-block hover:text-blue-700 hover:shadow-lg transition-all duration-300">B</span>
                <span class="inline-block hover:text-blue-700 hover:shadow-lg transition-all duration-300">i</span>
                <span class="inline-block hover:text-blue-700 hover:shadow-lg transition-all duration-300">s</span>
                <span class="inline-block hover:text-blue-700 hover:shadow-lg transition-all duration-300">c</span>
                <span class="inline-block hover:text-blue-700 hover:shadow-lg transition-all duration-300">o</span>
                <span class="inline-block hover:text-blue-700 hover:shadow-lg transition-all duration-300">r</span>
                <span class="inline-block hover:text-blue-700 hover:shadow-lg transition-all duration-300">d</span>
            </div>
        </div>
    </div>
</div>