<div class="h-screen w-20 bg-accent flex flex-col items-center pt-4">
    <div class="flex flex-row">
        <div class="bg-white w-[4px] h-4/5 rounded-r-lg mr-2" [class.bg-white]="selectedServerId == '0'">
        </div>
        <button class="text-text h-16 w-16 bg-secondary rounded-full mb-2 mr-2" routerLink="/servers"
            (click)="resetSelectedServer()"><i class="bi bi-house"></i></button>
    </div>
    <div class="flex flex-row" *ngFor="let server of servers" (contextmenu)="showContextMenu($event, server.id)">
        <div class="bg-white w-[4px] h-4/5 rounded-r-lg mr-2"
            [class.bg-white]="server.id.toString() === selectedServerId">
        </div>
        <button
            class="w-14 h-14 flex items-center justify-center mb-2 mr-2 
        {{ server.id.toString() === selectedServerId ? 'bg-color-accent rounded-[20px] ' : 'bg-secondary rounded-full' }} hover:bg-color-accent hover:rounded-3xl hover:transition-all"
            [routerLink]="['/servers', server.id]" (click)="selectServer(server.id)">
            <div *ngIf="server.image; else serverName" class="">
                <img [src]="server.image" alt="Server Image"
                    class="w-14 h-14 {{ server.id.toString() === selectedServerId ? 'rounded-[20px] ' : 'rounded-full' }} hover:rounded-3xl">
            </div>
            <ng-template #serverName>
                <p class="text-text">
                    {{ server.name | serverName }}
                </p>
            </ng-template>
            <app-edit-menu [itemsList]="itemsList" [targetId]="server.id"></app-edit-menu>

        </button>
    </div>
    <button class="text-text h-16 w-16 bg-secondary rounded-full mx-2" (click)="openCreateServer()"><i
            class="bi bi-plus-lg"></i></button>
</div>