<div class="chat-room flex flex-col h-full bg-primary">
    <div class="bg-primary flex flex-row items-center h-[48px] min-h-[48px] border-b-2 border-secondary">
        <div class="flex flex-row p-3">
            <div class="relative">
                <img [src]="receiver.profilePicture" alt="Profile Picture" class="w-8 h-8 rounded-full">
                <div *ngIf="onlineUserIds.has(receiver.id)"
                    class="absolute -bottom-1 -right-1 w-[16px] h-[16px] rounded-full bg-green-500 border-[3px] border-secondary">
                </div>
            </div>
        </div>
        <p class="text-text">{{ receiver.nickname }}</p>
    </div>


    <div
        class="h-full chat-messages flex-grow overflow-y-scroll p-4 border-scrollbar-bar scrollbar-thin scrollbar-thumb-scrollbar-bar scrollbar-track-secondary">
        <div class="message mb-2 hover:bg-message-hover rounded-md" *ngFor="let message of messages"
            (mouseenter)="showOptions(message)" (mouseleave)="hideOptions()">
            <ng-container *ngIf="loading; else messageTemplate">
                <div class="flex flex-row">
                    <div class="animate-pulse flex flex-row">
                        <div class="w-8 h-8 rounded-full bg-gray-300"></div>
                        <div class="flex flex-col ml-2">
                            <div class="w-32 h-4 bg-gray-300 rounded-md"></div>
                            <div class="w-48 h-4 bg-gray-300 rounded-md mt-1"></div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #messageTemplate>
                <div class="flex">
                    <ng-container *ngIf="!message.isEditing; else editMessageTemplate" class="flex flex-row">
                        <img *ngIf="message.userProfilePicture" [src]="message.userProfilePicture" alt="Profile Picture"
                            class="w-8 h-8 rounded-full m-2">
                        <div class="flex flex-col">
                            <div class="flex flex-row items-center">
                                <p class="font-bold text-text">{{ message.senderUsername }}</p>
                                <p class="text-text-faded text-xs ml-2">{{ message.createdAt | customDate }}</p>

                            </div>
                            <p class="text-text">{{ message.content }}</p>
                        </div>
                    </ng-container>
                    <ng-template #editMessageTemplate>
                        <div class="flex flex-col">
                            <input [(ngModel)]="editMessageForm.value.editedContent" type="text"
                                class="bg-primary border border-secondary text-text rounded-md p-2">
                            <div class="flex flex-row">
                                <div class="flex flex-row">
                                    <p>Enter to </p>
                                    <button (click)="saveEditedMessage(message)"
                                        class="mx-2 text-blue-600">Save</button>
                                </div>
                                <div class="flex flex-row">
                                    <p>Esc to </p>
                                    <button (click)="cancelEditing(message)" class="mx-2 text-blue-600">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
            <div class="relative">
                <app-message-options *ngIf="showOptionsForMessage === +message.id" [message]="message"
                    (editClick)="handleEditClick(message)"></app-message-options>
            </div>
        </div>
    </div>

    <div class="chat-input p-4 flex items-center h-[80px]">
        <input [(ngModel)]="messageContent" type="text" id="message-input" placeholder="Type your message..."
            class="flex-grow p-2 border rounded-l-md bg-hover border-none text-text">
        <div class="">
            <button (click)="sendDM()" class="px-4 py-2 bg-green-500 text-text rounded-r-md">Send</button>
        </div>
    </div>
</div>