<div class="bg-primary flex h-screen">
    <app-servers-side-panel></app-servers-side-panel>

    <div class="w-1/4 bg-secondary flex flex-col">
        <app-channels></app-channels>
        <div class="flex-1"></div>
        <app-user-info></app-user-info>
    </div>
    <div class="w-1/2 bg-primary">
        <router-outlet></router-outlet>
    </div>
    <div class="w-1/4 bg-primary">
        <app-online-users></app-online-users>
    </div>
</div>
<app-create-server-popup></app-create-server-popup>