<div class="bg-primary min-h-screen flex items-center justify-center">
    <div class="max-w-md mx-auto p-6 bg-secondary rounded-md shadow-md">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="space-y-4">
            <div>
                <label for="nickname" class="block text-base font-medium text-text">Nickname</label>
                <input type="text" formControlName="nickname" id="nickname" placeholder="Nickname"
                    class="mt-1 block w-full border border-secondary rounded-md shadow-sm focus:border-accent focus:ring focus:ring-secondary-accent focus:ring-opacity-50 text-base p-1">
            </div>
            <div>
                <label for="username" class="block text-base font-medium text-text">Username</label>
                <input type="text" formControlName="username" id="username" placeholder="Username"
                    class="mt-1 block w-full border border-secondary rounded-md shadow-sm focus:border-accent focus:ring focus:ring-secondary-accent focus:ring-opacity-50 text-base p-1">
            </div>
            <div>
                <label for="email" class="block text-base font-medium text-text ">Email</label>
                <input type="text" formControlName="email" id="email" placeholder="Email"
                    class="mt-1 block w-full border border-secondary rounded-md shadow-sm focus:border-accent focus:ring focus:ring-secondary-accent focus:ring-opacity-50 text-base p-1">
            </div>
            <div>
                <label for="password" class="block text-base font-medium text-text">Password</label>
                <input type="password" formControlName="password" id="password" placeholder="Password"
                    class="mt-1 block w-full border border-secondary rounded-md shadow-sm focus:border-accent focus:ring focus:ring-secondary-accent focus:ring-opacity-50 text-base p-1">
            </div>
            <div>
                <label for="confirmPassword" class="block text-base font-medium text-text">Confirm Password</label>
                <input type="password" formControlName="confirmPassword" id="confirmPassword"
                    placeholder="Confirm Password"
                    class="mt-1 block w-full border border-secondary rounded-md shadow-sm focus:border-accent focus:ring focus:ring-secondary-accent focus:ring-opacity-50 text-base p-1">
            </div>
            <div>
                <button type="submit"
                    class="w-full flex justify-center py-2 px-4 rounded-md shadow-sm text-base font-medium text-text bg-accent hover:bg-hover focus:outline-none focus:ring-2 focus:ring-secondary-accent focus:ring-offset-2">
                    Create
                </button>
                <p class="mt-2 text-base text-text text-center">
                    Already registered? <a routerLink="/login"
                        class="font-medium text-indigo-600 hover:text-indigo-500">Sign
                        In</a>
                </p>
            </div>
        </form>
    </div>
</div>